.center {
  text-align: center;
  align-items: center;
}

.footer {
  flex: 1;
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  position: absolute;
  bottom: 0;
  width: 99vw;
}

.content{
  display: flex;
}

.side{
  width: 15%;
  border-right: 1px solid #0a0a0a;
  height: 80vh;
}

.main{
  width: 70%;
}

.adside{
  width: 15%;
  border-left: 1px solid #0a0a0a;
  height: 80vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .side{
    width: 15%;
    border-right: 1px solid #eaeaea;
    height: 80vh;
  }
  .adside{
    width: 15%;
    border-left: 1px solid #eaeaea;
    height: 80vh;
  }
}
